  
<!DOCTYPE html>
<html>
<head>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<ul>
  <li><a href="https://Home.ashwin06.repl.co">Home</a></li>
  <li><a class="active" href="#news">News</a></li>
  <li><a href="https://Download.ashwin06.repl.co">Download</a></li>
  <li><a href="https://About.ashwin06.repl.co">About</a></li>
  <li><a href="https://Other.ashwin06.repl.co">Other Packages</a></li>

</ul>
<h1>News</h1>

<br><b>The pre version of this numbertheory package has been released!!!</b><br>
<h2>Coming up</h2>
<br>Version 1<br>
<a href="https://Other.ashwin06.repl.co">Other Math Packages for Python</a>
<br><b>Version 1 is coming soon</b><br>
</body>
</html>