<!DOCTYPE html>
<html>

<head>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<ul>
		<li><a class='active'	href="#">Home</a></li>
		<li><a href="https://News.ashwin06.repl.co">News</a></li>
		<li><a class="active" href="#Download">Download</a></li>
		<li><a href="https://About.ashwin06.repl.co">About</a></li>
		<li><a href="https://Other.ashwin06.repl.co">Other Packages</a></li>
	</ul>




<h1>Adding Code</h1>
Use <a href="https://github.com/arihant2math/numbertheory">GitHub</a> to add code or you can use this 
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeWhRMTSRNxLkBBQTxLnT_HBk9yUnttfEB5zPrzsb8V06AKag/viewform?embedded=true" width="640" height="1207" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>



<h1>License</h1>
<a href="/LICENSE" download>
  <img src="./txt.png" alt="License" style="width:50px;height:50px;">
</a>




<h1>Downloads For Number Theory</h1>

<br><br>
This is the small, basic number theory package (number_theory_essentials.py):
<br><br>
<a href="/number_theory_essentials.py" download>
  <img src="./pythonsymbol.png" alt="basic version" style="width:50px;height:50px;">
</a>
<br><br>

This is the large number theory package the small package is required (number_theory.py):
<br><br>
<a href="/number_theory.py" download>
  <img src="./pythonsymbol.png" alt="extended version" style="width:50px;height:50px;">
</a>
<br><br>
number theory essentials needs this list of numbers(numbertheorylists.py):
<br><br>
<a href="/numbertheorylists.py" download>
  <img src="./pythonsymbol.png" alt="list" style="width:50px;height:50px;">
</a>




<h1>Downloads for Counting and Probability</h1>

<br><br>
The essential counting and probability file, counting_and_probibility_essensials.py:
<br><br>
<a href="/counting_and_probibility_essensials.py" download>
  <img src="./pythonsymbol.png" alt="list" style="width:50px;height:50px;">
</a>
<br><br>
The extended version, counting_and_probability.py:
<br><br>
<a href="/counting_and_probability.py" download>
  <img src="./pythonsymbol.png" alt="extended version" style="width:50px;height:50px;">
</a>
</body>
</html>