  
<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="https://News.ashwin06.repl.co">News</a></li>
  <li><a href="https://Download.ashwin06.repl.co">Download</a></li>
  <li><a href="https://About.ashwin06.repl.co">About</a></li>
  <li><a href="https://Other.ashwin06.repl.co">Other Packages</a></li>

</ul>
<h1>Mathamatics Packages for Python</h1>
Welcome to the home page of the <b>most robust</b> mathematics packages for python in the world!
<br><br>
<b>V2.1.4 of number theory has been released.</b>
<br><br>
<b>V1.4 of counting and probability has been released.</b>
<br><br>
<b>V1.1 of math basic has been released.</b>
</body>
</html>